.click-div{
  background:  #431ee9;
  color: aliceblue;
  width: 100%;
  height: 40px;
  cursor: pointer;
  padding-top: 10px;
}

.toggle{
  padding: 50px;
}
.icon{
  color: white;
}
ul li{
  font-size: 1.3em;
}
.left{
  float: left;
  padding-left: 10px;
}
.right{
  float: right;
  padding-right: 10px;
}
