<nav class="navbar navbar-expand-lg navbar-light  color ">
	<div class="container-fluid px-5">
	  <a class="navbar-brand logo f fs-2 fst-italic fw-normal text-light" routerLink=''>D-Shopping</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-normal fs-5 text-light" routerLink=''>Əsas Səhifə </a>
        </li>
        <li class="nav-item">
           <a class="nav-link active fw-normal fs-5 text-light " routerLink="/pages/about" >Haqqımızda</a>
        </li>
        <li class="nav-item">
           <a class="nav-link active fw-normal fs-5 text-light" routerLink='/pages/contact'>Bizimlə əlaqə</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-normal fs-5 text-light" routerLink='/pages/cart'> Səbət </a>
       </li>
	
		</ul>
		<form class="d-flex btnaxtar">
		  <input
        class="form-control me-2 border border-dark "
        type="search"
        placeholder="Məhsul üzrə axtarış"

      />
		  <button class="btn btn-dark">
        Axtar
      </button>
		</form>
  </div>
</div>
</nav>
<!--[(ngmodel)]-->
