<footer class="footer">
  <div class="px-5">
    <div class="row text-center">
      <div class="footer-col">
        <h4>Məlumat</h4>
        <ul>
          <li><a href="#">Tez-tez verilən suallar</a></li>
          <li><a href="#">Saytın istifadə şərtləri</a></li>
          <li><a href="#">Ən çox satılanlar</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Müştərilər üçün</h4>
        <ul>
          <li><a href="#">Göndərmə və ödəmə</a></li>
          <li><a href="#">Zəmanət</a></li>
          <li><a href="#">Hissə-hissə ödənişə dair tələblər</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Menyu</h4>
        <ul>
          <li><a href="#">Ana səhifə</a></li>
          <li><a href="#">Haqqımızda</a></li>
          <li><a href="#">Əlaqə</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Əlaqə</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
